#app {
  font-family: $font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: $color-black;
  min-height: 100vh;
}
#nav {
  padding: 50px 0;
  background-color: $color-black;
  a {
    font: 700 22px/26px $font-special;
    color: $color-white;
    margin: 0 15px;
    transition: border-bottom .2s ease;
    &:hover {
      border-bottom: 2px solid $color-cta;
      text-decoration: none;
    }
    &.router-link-exact-active {
      border-bottom: 3px solid $color-cta;
    }
  }
  .app-logo {
    position: relative;
    &__img {
      width: 35px;
      transform: rotate(-20deg);
      animation: bouncingNote 3s ease 1s infinite;
      position: absolute;
      left: -18px;
      top: -19px;
      transform-origin: center;
    }
    &__text {
      font: 900 26px/30px $font-special;
      color: $color-vibrant;
    }
  }
}