.home {
  &--shadow {
    &::after {
      content: '';
      width: 100%;
      min-height: 100%;
      @include position(fixed, 0, 0, 0, 0);
      background-color: rgba(0,0,0,.8);
      z-index: 12;
    }
  }
  &__search {
    z-index: 1100;
    font: .8rem/1.1rem Cairo;
    letter-spacing: 1px;
    color: $color-white;
    max-width: 320px;
    & input {
      border: 3px solid $color-light;
      min-height: 3rem;
      transition: border .3s ease;
      &:hover,
      &:active, 
      &:focus  {
        border: 3px solid $color-cta;
      }
    }
  }
  &__icons-info {
    font: 700 .6rem/.9rem $font-body;
    color: $color-cancel;
    opacity: .3;
  }
}