.top-album {
  &__album-container {
    max-width: 1100px;
    margin: 0 auto;
  }
  &__album-item {
    cursor: pointer;
    background-color: $color-cta;
    width: 185px;
    height: 185px;
    box-shadow: 2px 2px 12px rgba(0,0,0,.3);
    margin: 15px 20px;
    z-index: 10;
    &::after{
      content: url('../assets/cd.svg');
      width: 140px;
      position: absolute;
      transition: .4s linear;
      transform-origin: center;
      z-index: -1;
    }
    &:hover::after {
      margin-left: 60px;
      transform: rotate(40deg);
    }
  }
}