$color-black : #000;
$color-white : #fff;
$color-cta: #ff8906;
$color-vibrant: #61dafb;
$color-primary: #303c6c;
$color-light: #d2fdff;
$color-cancel: #b1aeae;

$font-body:  'Roboto', Helvetica, Arial, sans-serif;
$font-special: 'Cairo';

$breakpoints: (
    small: 576px,
    medium: 768px,
    large: 992px,
    xlarge: 1200px
) !default;